@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Patrick+Hand+SC&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Lexend&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Patrick+Hand+SC&family=Poppins:wght@400&display=swap');



.verified {
    background: #FFF;
    box-shadow: 8px 39px 201.7px 96px rgba(0, 0, 0, 0.25);
    width: 1151px;
    height: 609px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
button:disabled {
    color: #646464;
    font-weight: 200;
    background: #d1d1d1;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #04696c #068c9100;
    animation: l1 1s infinite;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}
